<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Admintrator</title>
    <script src="./ajax/ajax_admin.js"></script>
    
</head>
<body>
    <input type="file" id="selPic">
    <input type="button" value="Save" id="btnSave">
    <img src="" width="100px" height="100px" id="imgTest">
</body>
</html>